aiohttp>=2.2.5
alphabet-detector==0.0.7
beautifulsoup4==4.9.1
bleach==3.1.5
cachetools==4.1.1
coffeehouse
CurrencyConverter
emoji==1.4.2
feedparser==6.0.0b3
future==0.18.2
geopy==2.0.0
git+https://github.com/starry69/python-markdown2.git
#googletrans
google-trans-new==1.1.8
humanize==3.5.0
jikanpy==4.2.1
lxml==4.5.2
nltk==3.5
Pillow>=4.2.0
pretty-errors==1.2.17
psutil==5.7.2
psycopg2-binary
pynewtonmath==1.0.1
pyrate-limiter==2.0.3
python-telegram-bot==12.8
regex==2020.7.14
requests==2.24.0
spamwatch
speedtest-cli==2.1.2
spongemock==0.3.4
sqlalchemy==1.3.20
Telethon==1.23.0
telegraph
ujson==3.0.0
wikipedia==1.4.0
zalgo-text==0.6
pendulum
textwrap3
